<!doctype html>
<html class="no-js" lang="{{ request.locale }}">
<head> 

  <!-- Global site tag (gtag.js) - Google Ads: 780071812 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-780071812"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-780071812');
</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% include 'seo-title' %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {% include 'font-face' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      inventoryThreshold: {{ settings.inventory_threshold }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Motion',
      themeVersion: "5.0.2"
    };
  </script>

  {{ content_for_header }}
  
  <meta name=“p:domain_verify” content=“69fe4817fc81067c14042192f9a5ec94"/>

  <script src="{{ 'vendor-scripts-v9.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url }}">
  {%- endif -%}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
                                                                             
  <script type="text/javascript">
  !function(e){if(!window.pintrk){window.pintrk=function()
  {window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}
  ("https://s.pinimg.com/ct/core.js"); 

  pintrk('load','2613289774319', { em: '{{ customer.email }}', });
  pintrk('page');
  </script> 
  <noscript> 
  <img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?tid=2613289774319&noscript=1" /> 
  </noscript>
</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-transitions="{{ settings.animate_page_transitions }}">

  {% if settings.animate_page_transitions %}
    <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endif %}

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}

    </div>
  </div>
                                                 
<div id="stamped-reviews-widget" data-widget-type="drawer" data-random="False" data-show-avatar="True"  data-background-color="#d48e6f" data-link="/a/review/all" data-position="right"></div>


  {% section 'newsletter-popup' %}

  {%- if settings.cart_type == 'drawer' -%}
    {%- include 'ajax-cart-template' -%}
  {%- endif -%}

  {%- if settings.predictive_search_enabled -%}
    {%- include 'predictive-template' -%}
  {%- endif -%}

  {% comment %}
    Custom markup for slider arrows using theme icons
  {% endcomment %}
  <div class="hide">
    <button id="prevArrowTemplate" class="slick-prev" aria-label="{{ 'general.pagination.previous' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
    </button>
    <button id="nextArrowTemplate" class="slick-next" aria-label="{{ 'general.pagination.next' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
    </button>
  </div>

  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
{% render 'spurit_po2_theme_snippet' %}
 <style>
    .stamped-review-option-scale, .stamped-review-option-scale-wrapper {height:1px !important;}
    .stamped-header .stamped-review-option-scale i, .stamped-review-option-scale-wrapper i {height:1px !important;}
    .stamped-header .stamped-review-option-scale span, .stamped-review-option-scale-wrapper span {border-radius:15px !Important;}
   .stamped-review-option-labels span:nth-child(3) {display:flex !important;}
   .stamped-header .stamped-review-options ul li {width:30% !Important;}
   
   @media only screen and (max-width: 480px){
.stamped-header .stamped-review-options ul li {
    width: 100%!important;
     }
     .stamped-reviews .stamped-review-options ul li {flex-basis:100% !Important;}}
   .fa-star, .fa-star-o, .fa-star-half-o, .stamped-fa-star, .stamped-fa-star-o, .stamped-fa-star-half-o {
    color: #d48e6f !important;
}
                                    
  </style>
  <script>
    window.addEventListener("klaviyoForms", function(e) { 
      if (e.detail.type == 'submit') {
        fbq('track', 'Lead');
      }
    });
  </script>
                                          <style>
                                          @media only screen and (max-width:480px) {
                                          .stamped-widget-drawer div.stamped-widget-button { margin-top:200px !important;}
                                          }
                                          </style>
</body>
</html>

<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
<script type="text/javascript">
// Editable fields:
var afterpay_min = 0.04;            // As per your Afterpay contract.
var afterpay_max = 1000.00;         // As per your Afterpay contract.
var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.

// Overrides:
var afterpay_product_selector = '#afterpay-slot';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.1';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.1) -->